{% set title='Home' %}

{% extends "main_template.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">MLP Neural Networks</h1>
    <p class="lead">This Web Application is a demo of Artificial Intelligence's Multilayer Perceptron Neural Networks project, Spring 2020.</p>
    <hr class="my-4">
    <p><a href="https://github.com/ahmadsalimi">Ahmad Salimi</a>
        <br>
        Computer Engineering Department
        <br>
        Sharif University of Technology</p>
</div>

<div class="row">
    <div class="col">
        <div class="card" style="width: 100%;">
            <img src="{{ url_for('static', filename='images/FunctionLearner.png') }}" class="card-img-top" alt="Function Learner">
            <div class="card-body">
                <h5 class="card-title">Function Learner</h5>
                <p class="card-text">In this section, a MLP neural network learns a function with given mathematical expression.</p>
                <a href="/FunctionLearner" class="btn btn-primary">Try it!</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 100%;">
            <img src="{{ url_for('static', filename='images/FunctionDrawer.png') }}" class="card-img-top" alt="FunctionDrawer">
            <div class="card-body">
                <h5 class="card-title">Function Drawer</h5>
                <p class="card-text">In this section, draw a curve. The MLP neural network learns it.</p>
                <a href="/FunctionDrawer" class="btn btn-primary">Try it!</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 100%;">
            <img src="{{ url_for('static', filename='images/DigitClassifier.png') }}" class="card-img-top" alt="DigitClassifier">
            <div class="card-body">
                <h5 class="card-title">Digit Classifier</h5>
                <p class="card-text">In this section, draw a digit, and MLP Neural network says which digit that is.</p>
                <a href="/DigitClassifier" class="btn btn-primary">Try it!</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}